<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <app-filter></app-filter>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/features']">Features</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/pricing']">Pricing</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/contactus']">Contact us</a>
      </li>
    </ul>
  </nav>
</header> 