<!-- <div style="position:relative;">
  <input type="text" value="" name="filter" id="filter" class="form-control">
  <a href="#" style="position:absolute; top:5px; right:15px;">
    <i class="fa fa-search"></i>
  </a>
</div>   -->
<div style="position: relative;">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    <a href="#" style="position:absolute; top:5px; right:15px;">
      <i class="fa fa-search"></i>
    </a>
  </form>
</div>