<div class="row no-margin ctm-min-height">
  <div class="col-md-2">
    <div class="abs-container border-right">
      <div class="sidebar-container"> 
        <div class="sidebar-items border-bottom" style="padding-top: 15px;" *ngFor="let item of filteredItems">
          <a href="#" (click)="onSelectItem(item)" class="home-list">
            {{item.name}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div *ngIf="!selectedItem" class="alert alert-warning" style="padding-top: 15px;" >
      Please select an item from the sidebar.
    </div>
    <div class="row" *ngIf="selectedItem">
      <div class="col-md-6 border-right" style="padding-top: 15px;" >

        <div>
          <img  src="{{selectedItem.images.picture_url}}" alt="image" style="width: 100%;" class="picture">
        </div>
        <div class="review-rate-container"  *ngIf="selectedItem.review_scores">
          Review Score: {{selectedItem.review_scores.review_scores_rating}}
        </div>
        <hr />
        <div class="">
          Reviews:
          <div class="alert alert-warning" *ngIf="selectedItem.reviews.length == 0">
            There is no comment available to show.
          </div>
          <div class="reviews-list" *ngFor="let review of selectedItem.reviews">
            <div class="reviews-container">
              <div class="row">
                <div class="col-md-6">{{review.reviewer_name}}</div>
                <div class="col-md-6">{{review.date.substring(0,10)}}</div>
                <div class="col-md-12">{{review.comments}}</div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="">
          <div class="row">
            <div class="col-md-6" style="padding-top: 15px;" >
              <h5 class="">{{selectedItem.name}}</h5>
            </div>
            <div class="col-md-6 text-center mt-2">
              <img src="{{selectedItem.host.host_picture_url}}" alt="host-picture" class="host-picture">
            </div>
            <div class="col-md-6">
              {{selectedItem.host.host_location}}
            </div>
            <div class="col-md-6 mt-2 text-center">
              {{selectedItem.host.host_name}}
            </div>
          </div>
        </div>
        <hr />
        <div class="details-container">
          <div class="row">
            <div class="col-md-12 col-lg-9">
              <div class="d-flex flex-wrap justify-content-between mb-1">
                <div><span class="">Accommodates: </span>{{selectedItem.accommodates}}</div>
                <div><span class="">Bedrooms: </span>{{selectedItem.bedrooms}}</div>
              </div>
              <div class="d-flex flex-wrap justify-content-between mb-1">
                <div><span class="">Bathrooms: </span>{{selectedItem.bathrooms && selectedItem.bathrooms.$numberDecimal}}</div>
                <div><span class="">Beds: </span>{{selectedItem.beds}}</div>
              </div>
            </div>
          </div>
          <p class="summary">
            {{selectedItem.summary}}
          </p>
          <p class="space">
            {{selectedItem.space}}
          </p>
        </div>
        <hr />
        <div class="amenities-container">
          amenities:
          <div class="row no-margin">
            <div class="col-md-6" *ngFor="let amenitiy of selectedItem.amenities">
              <div class="amanities-items">
                {{amenitiy}}
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="price-container">
          <div class="row">
            <div class="col-md-4">
              Daily price: <br />
              {{selectedItem.price && selectedItem.price.$numberDecimal}} $
            </div>
            <div class="col-md-4">
              Weekly price: <br />
              {{selectedItem.weekly_price && selectedItem.weekly_price.$numberDecimal}} $
            </div>
            <div class="col-md-4">
              Monthly price: <br />
              {{selectedItem.monthly_price && selectedItem.monthly_price.$numberDecimal}} $
            </div>
          </div>
        </div>
        <hr />
        <div class="address-container">
          Address: <br />
          <div class="">{{selectedItem.address.street}}</div>
          <div class="">{{selectedItem.address.suburb}}</div>
          <div class="">{{selectedItem.address.country}}</div>
          <div class="">{{selectedItem.address.market}}</div>
        </div>
      </div>
    </div>
  </div>
</div>